<div class="content">

    <div class="user-input">

        <mat-form-field class="target-website">
            <mat-label>Target Website</mat-label>
            <input matInput placeholder="www.example.com" [(ngModel)]="TargetWebsite" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="primary" class="start-button" (click)="GetAllInformation()">Start</button>

        <mat-form-field appearance="fill" class="user-mode">
            <mat-label>Mode</mat-label>
            <mat-select [(ngModel)]="CurrentMode">
                <mat-option *ngFor="let userMode of UserModes" [value]="userMode">
                    {{userMode}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == PingMode">
        <div class="terminal-header">
            <p>Pinger</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="WhoIsResult.data"
                [cdkCopyToClipboard]="PingResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngFor="let item of PingArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == WhoIsMode">
        <div class="terminal-header">
            <p>Who Is Scanner</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="WhoIsResult.data"
                [cdkCopyToClipboard]="WhoIsResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngFor="let item of WhoIsToArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == CookieMode">
        <div class="terminal-header">
            <p>Cookie Scanner</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="CoockiesResult.data"
                [cdkCopyToClipboard]="CoockiesResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngFor="let item of CookiesArray; let i = index">{{i}} - {{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == SSLMode">
        <div class="terminal-header">
            <p>SSL Scanner</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="CertificateResult.data"
                [cdkCopyToClipboard]="CertificateResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngFor="let item of CertificateToArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == NsLookupMode">
        <div class="terminal-header">
            <p>NS LOOKUP</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="NsLookupResult.data"
                [cdkCopyToClipboard]="NsLookupResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngFor="let item of NsLookupArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == ScraperMode">
        <div class="terminal-header">
            <p>Scraper</p>
            <button mat-raised-button class="copy-button" color="primary" *ngIf="ScraperResult.data"
                [cdkCopyToClipboard]="ScraperResult.data" (click)="ShowMessage()">COPY</button>
        </div>
        <p *ngIf="ScraperResult.data">{{ScraperResult.data}}</p>
    </div>

</div>