<div class="content">

    <div class="user-input">

        <mat-form-field class="target-website">
            <mat-label>Target Website</mat-label>
            <input matInput placeholder="www.example.com" [(ngModel)]="TargetWebsite" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="primary" class="start-button" (click)="GetAllInformation()">Start</button>

        <mat-form-field appearance="fill" class="user-mode">
            <mat-label>Mode</mat-label>
            <mat-select>
                <mat-option *ngFor="let userMode of UserModes" [value]="userMode">
                    {{userMode}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="terminal">
        <br>
        <p *ngIf="TargetWebsite">whois {{TargetWebsite}}</p>
        <p *ngFor="let item of WhoIsToArray">{{item}}</p>
    </div>

    <div class="terminal">
        <br>
        <p *ngIf="TargetWebsite">cookies {{TargetWebsite}}</p>
        <p *ngFor="let item of CookiesArray">{{item}}</p>
    </div>

    <div class="terminal">
        <br>
        <p *ngIf="TargetWebsite">certificate {{TargetWebsite}}</p>
        <p *ngFor="let item of CertificateToArray">{{item}}</p>
    </div>

</div>