<div class="content">

    <div class="user-input">

        <mat-form-field class="target-website">
            <mat-label>Target Website</mat-label>
            <input matInput placeholder="www.example.com" [(ngModel)]="TargetWebsite" autocomplete="off">
        </mat-form-field>

        <button mat-raised-button color="primary" class="start-button" (click)="GetAllInformation()">Start</button>

        <mat-form-field appearance="fill" class="user-mode">
            <mat-label>Mode</mat-label>
            <mat-select [(ngModel)]="CurrentMode">
                <mat-option *ngFor="let userMode of UserModes" [value]="userMode">
                    {{userMode}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == WhoIsMode">
        <p>Who Is Scanner</p>
        <p *ngFor="let item of WhoIsToArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == CookieMode">
        <p>Cookie Scanner</p>
        <p *ngFor="let item of CookiesArray; let i = index">{{i}} - {{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == SSLMode">
        <p>SSL Scanner</p>
        <p *ngIf="TargetWebsite">{{TargetWebsite}}</p>
        <p *ngFor="let item of CertificateToArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == NsLookupMode">
        <p>NS Lookup</p>
        <p *ngFor="let item of NsLookupArray">{{item}}</p>
    </div>

    <div class="terminal" *ngIf="CurrentMode == AllModes || CurrentMode == ScraperMode">
        <p>Scraper</p>
        <p *ngIf="TargetWebsite">{{TargetWebsite}}</p>
        <p *ngIf="ScraperResult.data">{{ScraperResult}}</p>
    </div>

</div>